doctype html
html
  head
    meta(property="og:description" content="Американская киноактриса и певица")/
    meta(property="og:image" content="https://wintex.pro/img/ogimage.png")/
    meta(property="og:title" content="Flappy Coin!")/
    title= "Flappy Coin!"
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    script(src="//yastatic.net/share2/share.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js")
    script(type="text/javascript" src="/javascripts/game.js")
    script(type="text/javascript" src="/javascripts/main.js")

  body
    div(class='container')
        div(class='row')
            div(class="col-sm")  
                canvas
            div(class='col-sm')
                    div(class='panel')
                        div(class='panel-heading')
                            h3(class='heading-title')
                                div(class='panel-header')
                                    img(src='/media/titel_flappycoin.gif' width='215' height='100')
                        div(class='panel-body')
                            p
                                | Flappy Coin - игра, которая имитирует поведения биткона на бирже (шутка).
                                | Выиграть просто - набрать как можно больше очков. Минимальное кол-во - 10.
                            p После победы - введите свой ETH кошелек и на него бдут перечислены токены
                                a(href="https://wintex.pro/ru/", target="_blank") Wintex.

                            p Играйте! Выигрывайте! Делитесь с друзьями!
                            div(class="ya-share2" data-services="vkontakte,facebook,telegram,twitter" data-url='https://wintex.pro/ru/' data-image='https://wintex.pro/img/ogimage.png'  )
        div(class='okno' id='congrad')
            div( id="ok1" class="alert" role="alert")
                img.modal-img(src="../media/star.png", alt="")
                form
                    .form-group.box
                      div(class="input-group-prepend")
                      input#namme.form-control(type='text', placeholder='Введите ваше имя')

                    .form-group.box
                      div(class="input-group-prepend")
                      input#mail.form-control(type='text', placeholder='Укажите почту')


                    .form-group.box
                      div(class="input-group-prepend")
                      input#wallet.form-control(type='text', placeholder='Ваш кошелёк')

                    img.modal-img(src="../media/send.png" onclick="$('#ok1').css('display','none');" + "$('#ok2').css('display', 'block');" +
                    "$.ajax({type: 'POST', url: '/send',data: {\"name\": $('#namme').val() , \"email\": $('#mail').val(), \"wallet\": $('#wallet').val()}}); return false;")
            div(id="ok2" class="alert" role="alert" )
                form
                    img.modal-img(src="../media/heart.png", alt="")
                    p(id="support") Самое сложное позади, готовим золото к отправке. По всем вопросам - support@wintex.pro